{% extends 'base/layout.html' %}

{% block page-content %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'cmdb:host_username_list' %}" class="btn btn-primary btn-sm" style="margin: 10px">返回主机用户</a>
            <div class="panel panel-default">

                <div class="panel-body">
                       <h2>主机 {{ name }} 的密码为:  {{ password }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}{% endblock %}
